<html>
<head>
  <style type="text/css">
  body {
    padding-left: 11em;
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: white;
    background-color: #0C6374 }

  ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }
  h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }
  ul.navbar li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid teal }
  ul.navbar a {
    text-decoration: none }

  a:link {
    color: teal }
  a:visited {
    color: teal }
  address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted }
  </style>
</head>
<body>

<!-- Menú de navegación del sitio -->
<ul class="navbar">
  <li><a href="/">Index</a>
</ul>

<!-- Contenido principal -->

<address>

<% if @post.errors.any? %>

  <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
<% end %>

<form action="/post<%= @post.id ? '/'+@post.id.to_s : '' %>" method="post">

  Title:
  <br>
  <p><input type="text" name="post[title]" value="<%= @post.title %>">
  <br>
  Category:
  <br>
  <p><input type="text" name="post[category]" value="<%= @post.category %>">
  <br>
  <p>Text:
  <br>
  <p><textarea rows="4" cols="30" name="post[text]" value="<%= @post.text %>"><%= @post.text %></textarea>
  <br>
  <input type="submit" name="commit" value="Save">
</form>

</address>

</body>
</html>